.container{
    width: 100%;
    height: auto;
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 20px;
    margin-top: 20px;
}


.container div{
    display: flex;
}

.container .hide{
    display: none;
}


.wysylanie{
    width: 800px;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    margin-top: 30px;
}

.wysylanie div{
    align-self:center;
}

.wysylanie div{
    width: 700px;
}

.wysylanie div input[placeholder="Imie"]{
    margin-right: 5px;
}

.wysylanie div input[placeholder="Email"]{
    margin-left: 5px;
}

.wysylanie div input,
.wysylanie div textarea,
.wysylanie div button{
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;

    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: medium;
}

.wysylanie div input,
.wysylanie div textarea{
    width: 100%;
    border: 1px solid #ccc;
}

.wysylanie div textarea{
    resize: none;
    height: 150px;
}

.wysylanie div button{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--second-color);
    color: #fff;
    cursor: pointer;
}

.wysylanie h1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 40px;
    color: var(--second-tekst-color);
}

.linia{
    border-left: 2px solid rgb(66, 66, 66);
    height: 400px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.info{
    width: 500px;
    height: auto;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    color: var(--second-tekst-color);
    margin-top: auto;
    margin-bottom: auto;
}

.info div, .info h1{
    margin-left: 30px;
}

.info a{
    text-decoration: none;
    color: var(--second-tekst-color);
}

.info div i{
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
}

/* po zmniejszeniu */
    .hide .info{
        text-align: center;
    }

    .hide .info .info_grid1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-self: center;
        grid-gap: 20px;
    }

    .hide .info .info_grid2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-self: center;
        grid-gap: 20px;
    }



.mapa{
    margin-top: 30px;
    margin-bottom: 10px;
}

.mapa iframe{
    width: 100%;
    height: 350px;
}

@media(max-width: 1450px){
    .container{
        max-width: 1100px;
    }

    .wysylanie{
        width: 750px;
    }

    .info{
        width: auto;
    }

    .info div, .info h1{
        margin-left: 0;
    }

    .linia{
        margin: 0 40px;
    }
    
}

@media(max-width: 1200px){
    .container{
        max-width: 900px;
    }

    .wysylanie{
        width: 700px;
        margin-top: 30px;
    }
    
    .wysylanie div{
        width: 600px;
    }

    .linia{
        padding: 20px 0;
    }
}

@media(max-width: 992px) {
    .container{
        max-width: 700px;
    }

    .container div .show{
        display: none;
    }

    .container .hide{
        display: block;
    }
}

@media(max-width: 750px){
    .container{
        max-width: 550px;
    }

    .wysylanie div{
        flex-direction: column;
    }

    .wysylanie div input[placeholder="Imie"]{
        margin-right: 0;
    }
    
    .wysylanie div input[placeholder="Email"]{
        margin-left: 0;
    }

    .wysylanie{
        width: 600px;
    }
    
    .wysylanie div{
        max-width: 500px;
    }
}

@media(max-width: 590px) {
    .container{
        width: 450px;
        padding: 5px;
    }

    .wysylanie div{
        width: 350px;
    }
    
}

@media(max-width: 470px){
    .container{
        width: auto;
    }

    .wysylanie div{
        width: 100%;
    }
}