.main_container {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 1200px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.other_container {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 1400px;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 60px 0;
}

.second_container {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 1200px;
}

.tlo {
    background-color: white;
}

/* block color */
.block_color {
    width: 100%;
    height: 650px;
    background: linear-gradient(to bottom right, var(--navbar-background), var(--second-color));
    position: relative;
}

.block_color img {
    width: auto;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 60px;
}

.block_color div {
    margin: 0;
    position: absolute;
    top: 120px;
    left: 50px;
}

.block_color div h1 {
    color: var(--navbar-tekst);
    font-size: 50px;
    z-index: 1;
    margin: 0;
}

.block_color div p {
    color: #e7e7e7;
    font-size: 35px;
}

@media(max-width: 1200px) {
    .block_color {
        max-height: 660px;
    }
}

@media(max-width: 992px) {
    .block_color div h1 {
        font-size: 40px;
    }

    .block_color div p {
        font-size: 25px;
    }
}

@media(max-width: 576px) {
    .block_color div h1 {
        font-size: 35px;
        width: 20%;
    }

    .block_color div p {
        font-size: 20px;
        width: 80%;
    }
}

/* otrzymasz */
.otrzymasz {
    border-radius: 15px;
    padding-top: 20px;
    padding: 20px;
}

.otrzymasz h1 {
    text-align: center;
    font-size: 40px;
}

.otrzymasz div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.otrzymasz div div {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 20px;
}

.otrzymasz div div {
    text-align: center;
}

.otrzymasz div div img {
    width: 10%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media(max-width: 1200px) {
    .otrzymasz div div img {
        width: 35px;
    }
}

@media(max-width: 992px) {
    .otrzymasz div {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* o nim */
.about_block {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* border: 3px solid var(--navbar-background);
        box-shadow: 4px 4px rgb(241, 239, 239); 
        background: linear-gradient(to bottom right, #313131, #1821a0); */
    color: var(--navbar-teks);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.about_block img,
.about_block div {
    padding: 0 30px;
}

.about_block img {
    border-radius: 50%;
    width: 30%;
    height: 30%;
    margin: 50px;
}

.about_block div {
    max-width: 40%;
}

.about_block div h1 {
    font-size: 50px;
    margin: 0;
}

@media(max-width: 1200px) {
    .about_block div h1 {
        font-size: 40px;
    }
}

@media(max-width: 992px) {
    .about_block div h1 {
        font-size: 35px;
    }

    .about_block div p {
        font-size: 17px;
    }

}

@media(max-width: 700px) {
    .about_block div h1 {
        font-size: 30px;
    }

    .about_block div p {
        font-size: 14px;
        margin: 0;
    }

    .about_block img {
        margin: 20px 0;
    }
}

@media(max-width: 576px) {
    .about_block {
        flex-direction: column;
    }

    .about_block div {
        max-width: 70%;
        margin-bottom: 20px;
        text-align: center;
    }
}


/* profits */
.profits {
    text-align: center;
}

.profits div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.profits h1 {
    font-size: 40px;
}

.profits div p {
    color: var(--second-tekst-color);
    margin: 20px;
    font-size: large;
}

.profits a {
    display: block;
    text-decoration: none;
    color: var(--navbar-tekst);
    background-color: var(--navbar-background);
    padding: 10px;
    border-radius: 15px;
    margin-top: 40px;
    width: 130px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 670px) {
    .profits div {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* galeria */
.mini_gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 0;
}

.mini_gallery div {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.mini_gallery img {
    width: 700px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.mini_gallery h1 {
    margin: 0;
}

.other_container hr {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    clear: both;
}

.first_block {
    display: block;
}

.second_block {
    display: none;
}

@media(max-width: 1400px) {
    .other_container {
        max-width: 1200px;
    }
}

@media(max-width: 1200px) {
    .mini_gallery img {
        width: 500px;
        height: 300px;
    }

    .other_container hr {
        max-width: 700px;
    }
}

@media(max-width: 992px) {
    .mini_gallery img {
        width: 400px;
        height: 300px;
    }

    .other_container hr {
        width: 400px;
    }
}

@media(max-width: 830px) {
    .mini_gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .mini_gallery img {
        width: 100%;
    }

    .mini_gallery div {
        max-width: 100%;
        text-align: center;
        padding: 10px;
    }

    .first_block {
        display: none;
    }

    .second_block {
        display: block;
    }
}

@media(max-width: 576px) {
    .other_container hr {
        width: 250px;
    }
}

@media(max-width: 420px) {
    .other_container hr {
        width: 150px;
    }
}


/* lokalizacja */
.lokalizacja {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 80px;
}

.lokalizacja iframe {
    width: 100%;
}

.lokalizacja div {
    width: auto;
    text-align: left;
}

.lokalizacja div p,
div h1 {
    margin-left: 20px;
}

.lokalizacja div p {
    width: 80%;
}

.lokalizacja div .guzik {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    max-width: 80px;
    height: auto;
}

.lokalizacja div div a {
    text-decoration: none;
    color: var(--navbar-tekst);
    background-color: var(--navbar-background);
    padding: 10px;
    border-radius: 15px;
}

@media(max-width: 1200px) {
    .lokalizacja div {
        width: 80%;
    }
}

@media(max-width: 992px) {
    .lokalizacja {
        flex-direction: column;
    }

    .lokalizacja div div a {
        display: block;
        margin-bottom: 15px;
    }
}

@media(max-width: 576px) {
    .lokalizacja div h1 {
        font-size: 30px;
    }
}


/* ogolne */
@media(max-width: 1200px) {

    .container,
    .other_container,
    .second-container {
        max-width: 900px;
    }
}

@media(max-width: 992px) {

    .other_container,
    .second-container {
        max-width: 700px;
    }
}

@media(max-width: 830px) {

    .other_container,
    .second-container {
        max-width: 600px;
    }
}

@media(max-width: 576px) {
    .other_container {
        max-width: 400px;
    }
}

@media(max-width: 420px) {

    .other_container,
    .second-container {
        max-width: 300px;
    }
}